@import '../../responsive.styles.scss';
.movie-card{
  display: grid;
  justify-items: start;
  width: 235px;
  @include respond(phone){
    width: 200px;
    margin-bottom: 30px;
  }
  &__banner{
    height: 320px;
    width: 220px;
    border-radius: 10px;
    transition: all .2s !important;
    z-index: 10;
    cursor: pointer;
    @include respond(phone){
      height: 300px;
      width: 200px;
    }
    &:hover{
      transform: translateY(-5px);
      box-shadow: 0 5px 10px 5px rgba(0,0,0,.3);
      transform: scale(1.1);
    }
    &:active{
      box-shadow: 0 2.5px 5px 5px rgba(0,0,0,.1);
      transform: translateY(2px);
    }
  }
  &__title{
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    @include respond(phone){
      grid-template-columns: 160px min-content;      
    }
  }
}

.skip-card{
  width: 0px !important;
  height: 0px !important;
  visibility: hidden;
}