@import "../../responsive.styles.scss";
.app-bar {
  display: flex;
  flex-wrap: wrap;
  background-color: white !important;
  color: grey !important;
  justify-content: space-between;
  &__title {
    @include respond(tab-port) {
      width: 0;
      visibility: hidden;
      height: 0;
    }
  }
  &__switch-language {
    margin-left: auto;
    @include respond(phone){
      width: 0 !important;
      display: none !important;
      height: 0 !important;
    }
  }
  &__toolbar {
    display: flex;
  }
  &__menus {
    margin-left: auto;
    display: flex;
    align-content: space-between;
  }
  &__search-field {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2px;
    transition: all .2s;
    @include respond(phone) {
      width: 40%;
      margin-left: 20px;
    }
    .banner-input {
      width: 550px;
      height: 40px;
      display: flex;
      background-color: #f1f3f4;
      border-radius: 20px;
      display: flex;
      align-items: center;
      padding-left: 20px;
      @include respond(phone){
        height: 30px;
      }
      &__field {
        width: 70%;
        height: 50%;
        outline: none;
        border: none;
        background-color: transparent;
        font-size: 17px;
        color: grey;
        transition: all .2s;
        @include respond(phone) {
          font-weight: bold;
          &::placeholder {
            font-size: 14px;
          }
        }
      }
    }
  }
}
